<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo-adonis">
                <h2>EMUNAH Barbershop</h2>
                <h2>Estilo, Tradición y Modernidad</h2>
                <h3>Tu destino de confianza para un corte de cabello</h3>
                <p>Barbero <strong style="color: var(--text-color-paleyellow);">Enzo Ortega</strong></p>
            </div>
            <div class="collab-footer">
                <i class='bx bx-edit-alt' style='color:#ffffff'></i>
                <h2>¿Necesitas un Corte?</h2>
                <h3>Agenda tu cita hoy y vive la mejor atención</h3>
                <a>Sé parte de nuestra barbería, la experiencia es nuestro sello</a>
            </div>
            <div class="contact-info-footer">
                <i class='bx bx-usb' style='color:#ffffff; padding-bottom: 10px;'></i>
                <h2>Redes Sociales</h2>
                <h3>Conoce nuestros medios</h3>
                <div class="social-networks">
                    <a><i class='bx bxl-whatsapp' style='color:#ffffff'></i></a>
                    <a><i class='bx bxl-discord-alt' style='color:var(--text-color-paleyellow)'></i></a>
                    <a><i class='bx bxl-youtube' style='color:#ffffff'></i></a>
                    <a><i class='bx bx-envelope' style='color:#ffffff'></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>