<section class="panel-container">
    <div class="panel-1">
        <div class="degradado"></div>
        <div class="textos-panel">
            <img src="../assets/img/logos/emunah-ant-high-resolution-logo-transparent.png" alt="logo">
            <h2>¿Quiénes somos?</h2>
            <p>Somos un equipo de barberos profesionales con años de experiencia en cortes de pelo y cuidado personal.
                Nos apasiona
                ofrecer servicios de alta calidad en un ambiente cómodo y relajado, donde cada cliente recibe la
                atención y el trato que
                se merece. ¡Agenda tu cita hoy mismo y luce un corte espectacular!
            </p>
        </div>
    </div>
    </div>
    </div>
    <div class="panel-2">
        <div class="degradado"></div>
        <div class="textos-panel">
            <h2>Nuestros Servicios</h2>
            <p>Realizamos investigaciones sociales para comprender las necesidades, intereses y expectativas de las
                comunidades, diseñamos e implementamos programas y proyectos de desarrollo comunitario que respondan
                a las necesidades de las
                comunidades.</p>
            <p>Brindamos apoyo a las empresas, instituciones y comunidades para que puedan dialogar y construir
                acuerdos de manera
                efectiva. Ofrecemos talleres y cursos en temas como desarrollo comunitario, responsabilidad social,
                gestión de proyectos,
                participación ciudadana, entre otros.</p>
            <p>Realizamos investigaciones académicas en el ámbito de las ciencias sociales, con el objetivo de
                aportar a la reflexión y
                debate sobre los problemas sociales y las mejores prácticas para abordarlos.</p>
        </div>
    </div>
    <div class="panel-3">
        <div class="degradado"></div>
        <div class="textos-panel">
            <h2>Nuestra Misión</h2>
            <p>Promover el desarrollo social y comunitario a través de la investigación, la asesoría y la acción
                participativa. Fortalecer las capacidades de las comunidades y organizaciones para que sean
                protagonistas de su
                propio desarrollo.</p>
            <p>Fomentar la responsabilidad social en las empresas e instituciones, impulsando prácticas que
                beneficien a las
                comunidades y al medio ambiente.</p>
            <h2>Nuestra Visión</h2>
            <p>Ser una empresa líder en el ámbito de la consultoría social, reconocida por su compromiso con la
                ética, la calidad y el
                impacto positivo en las comunidades.</p>
        </div>
    </div>
</section>